<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Мой Не Сам</title>
    <link href="/css/index.css" rel="stylesheet"/>
</head>
<body>
<header>
    <h1><img alt="Логотип компании" src="/jpg/logo.png"><span class="underline">Мой Не Сам</span></h1>
    <div class="auth-button"><button onclick="window.location.href='/mineIsNotMyself/authorization'">Авторизация</button></div>
    <div class="admin-panel-button" id="adminPanelButton"><button onclick="window.location.href='adminpanel.html'">Войти в панель админа</button></div>
<!--    <div class="profile-button" id="profileButton"><button onclick="window.location.href='user/profile.html'">Профиль</button></div>
-->
</header>
<main>
    <h2>Добро пожаловать в компанию Мой Не Сам! Мы рады предложить вам лучшие услуги и решения.</h2>

    <div class="container-wrapper">
        <div class="container">
            <img alt="Описание фотографии 1" src="/jpg/money.jpg">
            <h2>Приятные цены</h2>
            <p>Лучшие цены в городе среди остальных компаний, не переплачивайте за работу и закажите услуги у нас!</p>
        </div>
        <div class="container">
            <img alt="Описание фотографии 2" src="/jpg/uborshchiki.jpg">
            <h2>Работают только профессионалы</h2>
            <p>Сотрудники компании проходят серьёзное обучение, подходя к работе с огромным энтузиазмом и позитивом.</p>
        </div>

        <div class="container">
            <img alt="Описание фотографии 3" src="/jpg/eco.jpg">
            <h2>Экологические средства</h2>
            <p>Мы используем только экологические средства, не вредящие здоровью ни заказчику, ни животным, ни
                природе.</p>
        </div>
    </div>

    <div class="separator"></div>

    <h2>Услуги нашей клининговой компании:</h2>
    <div class="container-wrapper">
        <div class="container">
            <img alt="общий клининг" src="/jpg/obshiiclining.png">
            <h2>Oбщий клининг</h2>
            <p>Услуга общей уборки — это комплексное решение для поддержания чистоты и порядка в вашем доме или офисе.
                Наша команда профессионалов проведет тщательную уборку всех помещений, включая удаление пыли, мытье
                полов, чистку мебели и сантехники, а также дезинфекцию поверхностей.</p>
        </div>
        <div class="container">
            <img alt="Генеральная уборка" src="/jpg/generalnyaiauborka.jpg">
            <h2>Генеральная уборка</h2>
            <p>Генеральная уборка — это глубокая и всесторонняя чистка вашего пространства, которая возвращает ему
                свежесть и порядок. Наша команда профессионалов тщательно очищает каждый уголок: от потолков до полов,
                включая труднодоступные места, окна и мебель.</p>
        </div>
        <div class="container">
            <img alt="Послестроительная уборка" src="/jpg/poslestroyiki.jpg">
            <h2>Послестроительная уборка</h2>
            <p>Послестроительная уборка — это специализированная услуга, направленная на устранение последствий
                строительных и ремонтных работ. Наша команда профессионалов тщательно удаляет строительный мусор, пыль и
                загрязнения, оставшиеся после ремонта. Мы очищаем все поверхности, включая окна, полы и мебель, чтобы
                вернуть вашему пространству чистоту и свежесть.</p>
        </div>
        <div class="container">
            <img alt="Химчистка ковров и мебели" src="/jpg/ximchistkakover.jpg">
            <h2>Химчистка ковров и мебели</h2>
            <p>Химчистка ковров и мебели — это профессиональная услуга, которая восстанавливает свежесть и чистоту ваших
                текстильных изделий. Мы используем безопасные и эффективные химические средства, которые глубоко
                проникают в волокна, удаляя пятна, запахи и аллергены.</p>
        </div>
        <div class="container">
            <img alt="иная услуга" src="/jpg/inayausluga.jpg">
            <h2>Иная услуга</h2>
            <p>Иная услуга — это индивидуальный подход к вашим потребностям, который включает в себя широкий спектр
                дополнительных услуг по уборке и уходу за вашим пространством. Мы готовы предложить решения,
                адаптированные под ваши требования: от уборки после мероприятий до специализированного ухода за
                уникальными поверхностями.</p>
        </div>
    </div>

    <div class="separator"></div>

    <p>Мы надеемся, что вы узнали о нашей клининговой компании "Мой Не Сам" и оценили все преимущества, которые мы
        предлагаем. Наша команда профессионалов готова взять на себя заботу о чистоте вашего дома или офиса,
        предоставляя услуги высочайшего качества с использованием экологически чистых средств. Мы понимаем, как важна
        для вас чистота и порядок, и стремимся превзойти ваши ожидания.

        Если вы ищете надежного партнера для поддержания чистоты в вашем пространстве, не стесняйтесь обращаться к нам!
        Мы готовы предложить индивидуальные решения, адаптированные под ваши потребности. Позвольте нам сделать вашу
        жизнь проще и комфортнее.

        Свяжитесь с нами сегодня, и мы с радостью ответим на все ваши вопросы и поможем выбрать идеальные услуги для
        вас. "Мой Не Сам" — ваш надежный помощник в мире чистоты!</p>

    <div class="buttons">
        <!--/*@thymesVar id="userJwtInfo" type="ru.shift.server.security.jwt.UserJwtInfo"*/-->
        <!--/*@thymesVar id="flag" type="ru.shift.server.security.jwt.UserJwtInfo"*/-->
        <button class="button" th:if="${!userJwtInfo.flag}" th:text="'Зарегестрируйтесь что бы Оставить заявку'" onclick="window.location.href='/mineIsNotMyself/authorization'"></button>
        <button class="button" th:if="${userJwtInfo.flag}" th:text="'Оставить заявку'" onclick="window.location.href='/mineIsNotMyself/orderFrom'"></button>
    </div>

    <div class="contact-info">
        <h3>Контактная информация</h3>
        <p><strong>Телефон:</strong> +7 (123) 456-78-90</p>
        <p><strong>Email:</strong> info@moisam.ru</p>
        <p><strong>Адрес:</strong> г. Москва, ул. Чистоты, д. 10</p>
    </div>
    <script src="/js/index.js"></script>
</main>
</body>
</html>